<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ShopMaster</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-image: url('ruta-de-tu-imagen.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }
    </style>
</head>
<body class="flex flex-col h-screen bg-blue-100 dark:bg-blue-900">
    
    <nav class="w-full bg-blue-300 dark:bg-blue-700 p-4 flex justify-between items-center shadow-md rounded-lg fixed top-0 left-0 right-0">
        <img src="https://shopmaster.in/uploads/logo/logo_66593bf8604a3.svg" alt="Logo" class="w-25 h-10 rounded-full">
        <div class="relative">
            <button id="menu-toggle" class="text-gray-900 dark:text-white px-4 py-2">
                <img src="https://www.shutterstock.com/image-vector/menu-icon-trendy-flat-style-600nw-432264136.jpg" alt="Menú" class="w-8 h-8">
            </button>
            <div id="menu" class="hidden absolute right-0 mt-2 w-48 bg-white dark:bg-blue-800 shadow-lg rounded-lg overflow-hidden">
                <a th:href=@{/home} class="block px-4 py-2 text-gray-900 dark:text-white hover:bg-blue-300 dark:hover:bg-blue-600">Inicio</a>
                <a th:href=@{/Login} class="block px-4 py-2 text-gray-900 dark:text-white hover:bg-blue-300 dark:hover:bg-blue-600">Login</a>
            </div>
        </div>
    </nav>
    
    <div class="bg-white dark:bg-blue-800 bg-opacity-90 p-8 rounded-2xl shadow-2xl w-96 text-center mt-24 mx-auto">
        <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-6">Iniciar Sesión</h2>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Usuario" class="w-full p-3 mb-4 border rounded-lg shadow-sm dark:bg-blue-700 dark:text-white" required>
            <input type="password" name="password" placeholder="Contraseña" class="w-full p-3 mb-4 border rounded-lg shadow-sm dark:bg-blue-700 dark:text-white" required>
            <button class="w-full bg-blue-500 text-white font-bold py-2 rounded-lg shadow-md hover:bg-blue-600 transition">Ingresar</button>
        </form>
        <div th:if= "${errorMessage}" class=text-white-500 dark:text-blue-300 font-semibold>
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
    
    
    <script>
        const menuToggle = document.getElementById("menu-toggle");
        const menu = document.getElementById("menu");
        
        menuToggle.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
</body>
</html>

