<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/admin/Registro}" method="post" class="form">
        <div class="input-box">
            <label>Correo Electrónico</label>
            <input type="text" name="username" placeholder="Ingresa tu Correo Electrónico" required />
        </div>
        <div class="input-box">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa tu Contraseña" required />
            <button type="submit">Registrar</button>
        <div th:if="${SuccessMessage}">
            <p th:text="${SuccessMessage}"></p>
        </div>
    </form>
      
    <form th:action="@{/admin/actualizar-tendero}" method="post">
        <label class="block text-gray-900">Nombre:</label>
        <input type="text" name="username" id="edit-nombre" class="w-full p-2 mb-3 border rounded-md" required>
        <label class="block text-gray-900">Contraseña:</label>
        <input type="number" name="password" id="edit-stock" class="w-full p-2 mb-3 border rounded-md" required>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg font-bold shadow-md hover:bg-blue-600 w-full">Actualizar</button>
    </form>
        
        
    
</body>
</html>